# Database
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=chatapp
DATABASE_USER=chatapp
DATABASE_PASSWORD=chatapp_secret

# NATS
NATS_URL=nats://nats:4222

# Ports
API_PORT=3000
FRONTEND_PORT=3001
